$mnv-ec-select-close-btn-bg: $color-darker-grey;
$mnv-ec-select-close-btn-hover-bg: $color-black;
$mnv-ec-select-close-btn-w: 100px;

$mnv-ec-select-padding: 5px;
$mnv-ec-select-bg: $color-light-grey;
$mnv-ec-select-hover-bg: $color-aqua-blue-middle-light;
$mnv-ec-select-hover-color: $color-black;
$mnv-ec-select-font-size: 18px;
$mnv-ec-select-placeholder-color: $color-black;

$mnv-ec-select-result-font-size: 20px;
$mnv-ec-select-result-line-height: 22px;
$mnv-ec-select-result-item-bg: $color-darker-grey;
$mnv-ec-select-result-item-color: $color-white;
$mnv-ec-select-result-item-border-bottom-color: $color-white;
$mnv-ec-select-result-item-hover-bg: $color-aqua-blue-middle;
$mnv-ec-select-result-item-hover-color: $color-white;

$mnv-ec-select-font-family: 'Officina';
$mnv-ec-select-bar-height: 40px;